.dropdown-toggle.show + .dropdown-menu.show{
    position: absolute; 
    inset: 0px auto auto 
    0px; margin: 0px; 
    transform: translate3d(0px, 40px, 0px);
    display: block;
}

.dropdown-menu.show{
    display: none;
}