<div class="row">
  <div class="col-xs-12">
    <img [src]="myRecipe.imagePath" alt="{{ myRecipe.name }}" class="img-fluid" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ myRecipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button appDropDown class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Manage Recipe
      </button>
      <ul appDropDown class="dropdown-menu show">
        <li><a class="dropdown-item" (click)="toShoppingList()">To Shopping List</a></li>
        <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
        <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
      </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ myRecipe.description }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
       <ul class="list-group">
        <li class="list-group-item" *ngFor="let ingredient of myRecipe.ingredients">
          {{ ingredient.name }} - {{ ingredient.amount }}
        </li>
       </ul>
    </div>
</div>
