<div class="row">
    <div class="col-xs-12">
        <form action="">
            <div class="row">
                <div class="col-sm-5 form-group mb-2">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" id="name" class="form-control">
                </div>
                <div class="col-sm-2 form-group mb-2">
                    <label for="amount" class="form-label">Amount</label>
                    <input type="number" id="amount" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success mx-1" type="submit">Add</button>
                    <button class="btn btn-danger mx-1" type="button">Delete</button>
                    <button class="btn btn-primary mx-1" type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>