<div class="row">
    <div class="col-xs-12">
        <form  #ingredientForm="ngForm" (ngSubmit)="onSubmit(ingredientForm)">
            <div class="row">
                <div class="col-sm-5 form-group mb-2">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" id="name" class="form-control" ngModel name="name" required>
                </div>
                <div class="col-sm-2 form-group mb-2">
                    <label for="amount" class="form-label">Amount</label>
                    <input type="number" id="amount" class="form-control" ngModel name="amount" required pattern="^[1-9]+[0-9]*$">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success mx-1" type="submit" [disabled]="!ingredientForm.valid">{{ editMode ? 'Update' : 'Add' }}</button>
                    <button *ngIf="editMode" class="btn btn-danger mx-1" type="button" (click)="onDelete()">Delete</button>
                    <button class="btn btn-primary mx-1" type="button" (click)="onClear()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>